<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>

    <header>
        
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d122892.3257241823!2d120.83535840099943!3d15.730750028018857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3390d606a70b853d%3A0xd617eb36132a8921!2sScience%20City%20of%20Mu%C3%B1oz%2C%20Nueva%20Ecija!5e0!3m2!1sen!2sph!4v1572355955759!5m2!1sen!2sph"
            width="700" height="450" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
    </header>

    <hr style="border: 4px solid rgb(122, 122, 122);
    width:10%;  float: left; margin-left: 35%; margin-top: 2%;">
    <hr style="border: 4px solid rgb(243, 225, 205);
       width:20%; margin-left: -1.5%; margin-top: 2%;">

    <div class="row">

        <div class="column main">
            <div class="popPlaces">

                <h2>Weather</h2>
                <div class="image" style="margin-top: -2%;">
                    <div class="places">
                        <table>
                            <td> <a routerLink="/location" data-lightbox="image-2" data-title="Photography"><img
                                        src="../../assets/slider/cebu.jpg"></a>
                            </td>
                            <td>
                                <article>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.

                                </article>
                            </td>
                        </table>
                    </div>
                </div>



            </div>
            <br>

            <div class="hotPlaces">
                <h2>Suggested Places</h2>
                <div class="image" style="margin-top: -2%;">
                    <div class="places">

                        <table>
                            <td> <a routerLink="/location" data-lightbox="image-2" data-title="Photography"><img
                                        src="../../assets/slider/cebu.jpg"></a>
                            </td>
                            <td>
                                <article>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.

                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                        fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                                        culpa qui officia deserunt mollit anim id est laborum.

                                    </p>
                                </article>
                            </td>
                        </table>
                        <table>
                            <td> <a routerLink="/location" data-lightbox="image-2" data-title="Photography"><img
                                        src="../../assets/slider/palawan.jpg"></a>
                            </td>
                            <td>
                                <article>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.

                                </article>
                            </td>
                        </table>
                        <table>
                            <td> <a routerLink="/location" data-lightbox="image-2" data-title="Photography"><img
                                        src="../../assets/slider/boracay.jpg"></a>
                            </td>
                            <td>
                                <article>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                        irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                        deserunt mollit anim id est laborum.
    
                                </article>
                            </td>
                        </table>
                        <br>


                    </div>
                </div>

            </div>

           
        </div>

        <div class="column side">
            <div>

                <h2>Share and Links</h2>
                <iframe width="250" height="200" src="https://www.youtube.com/embed/CnOedsCmups" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

            </div>
            <div>

                <h2>Navigate</h2>
                <ul>
                    <li> <a routerLink="/home" routerLinkActive="linkActive">Home</a></li>
                    <li> <a routerLink="/location" routerLinkActive="linkActive">Location</a>
                    </li>
                    <li> <a routerLink="/account" routerLinkActive="linkActive">Account</a>
                    </li>
                    <li>

                        <a routerLink="/about" routerLinkActive="linkActive">About Us</a>
                    </li>
                </ul>

            </div>
        </div>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
</body>

</html>